{% extends "website/base.html" %}
{% load events_tags website_tags wagtailcore_tags wagtailimages_tags %}

{% block heading %}
{% endblock %}

{% block content %}
  {% image self.banner_image fill-1400x650 as banner %}
  <section id="banner"
           class="bg-image" 
           style="background-image: url({{ banner.url }});">
    <section id="welcome">
      {{ self.welcome|richtext }}
    </section>
  </section>
  <section id="highlights">
    {% for highlight in self.highlights.all %}
      {% if highlight.page %}
        <a href="{{ highlight.page.url }}" class="highlight">
          {% include "website/includes/highlight.html" %}
        </a>
      {% else %}
        <div class="highlight">
          {% include "website/includes/highlight.html" %}
        </div>
      {% endif %}
    {% endfor %} 
  </section>
  <section id="main-info" class="clearfix">
    {% events_this_week %}
    <div class="info-inner">
      {{ self.body|richtext }}
    </div>
  </section>
  <section id="location">
    {% include "website/includes/locationmap.html" only %}
  </section>

{% endblock %}
