{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search Results{% endblock %}

{% block content %}
<div class="content">
  <div class="page-heading">
    <h2>Search Results</h2>
  </div>

  <div class="content-inner">
  {% if search_results %}
    <ul>
      {% for result in search_results %}
        <li>
          <h3><a href="{% pageurl result %}">{{ result }}</a></h3>
          {% if result.search_description %}
            {{ result.search_description|safe }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% if search_results.has_previous %}
      <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
    {% endif %}

    {% if search_results.has_next %}
      <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
    {% endif %}
  {% elif search_query %}
    No results found
  {% endif %}
  </div>
</div>
{% endblock %}
